
<div class="container">
  <br>
  <h1>Pagos por Paypal</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Otra forma de pago...</th>
        <th scope="col">Paypal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let button of paypalButtons">
      <td>Pago por {{button.paymentAmount | currency:'MXN':'symbol-narrow'}} </td>
        <td>Otra forma de pago...</td>
        <td><div id='paypal-checkout{{button.paymentAmount}}'></div></td>
      </tr>
      <tr>
          <td>Elija la cantidad a pagar</td>
          <td><input type="number" [(ngModel)]="finalAmount" style="padding-bottom: 10px;"></td>
          <td><div id='paypal-checkout-btn'></div></td>
      </tr>
    </tbody>
  </table>
</div>


